.valid[b-u9lmgfa6bu] {
    border-color: darkgreen;
    border: 0;
}

.invalid[b-u9lmgfa6bu] {
    border-color: darkred;
    border:0;
}
*[b-u9lmgfa6bu] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.CalculateField[b-u9lmgfa6bu] {
    float: left;
    width:100%;
}
.CalculateItem[b-u9lmgfa6bu] {
    background-color: #606060;
    border: 2px solid black;
    border-top:0px;
    width: 50%;
    height: 10%;
    float: left;
}
select[b-u9lmgfa6bu] {
    height: 100%;
    width: 30%;
    color: white;
    background-color: #606060;
    float: right;
    border: 1px solid black;
}
input[b-u9lmgfa6bu] {
    width: 30%;
    height: 5vh;
    margin: 0;
    padding: 0;
    background-color: #808080;
}
button[b-u9lmgfa6bu] {
    height: 100%;
    width: 15%;
    color: white;
    background-color: #606060;
    border: 1px solid black;
    float: right;
}

    button:hover[b-u9lmgfa6bu], select:hover[b-u9lmgfa6bu] {
        background-color: #808080;
    }

.Gridcalc[b-u9lmgfa6bu] {
    display: grid;
    grid-template-rows: 3fr 1fr;
    border-radius: 5px;
    background-color: #404040;
    display:inline-grid;
    height: 100%;
    width:100%;
}

    .Gridcalc > div[b-u9lmgfa6bu] {
        border-radius: 5px;
        height: 100%;
        position:relative;
        background-color: #555555;
    }

        .buttonChoose[b-u9lmgfa6bu] {
            height: 10vh;
            width: 35%;
            color: white;
            background-color: #606060;
            border: 1px solid black;
            float: right;
        }
.selectChoose[b-u9lmgfa6bu] {
    height: 10vh;
    width: 30%;
    color: white;
    background-color: #606060;
    float: right;
    border: 1px solid black;
}
