.GridCol[b-k8ren922i9] {
    display: grid;
    grid-template-columns: 0.4fr 0.7fr ;
    border-radius: 5px;
    background-color: #404040;
    height: 100%;
    overflow: hidden;
}

    .GridCol > div[b-k8ren922i9] {
        border-radius: 5px;
        background-color: #555555;
    }

        .GridCol > div:nth-child(2)[b-k8ren922i9] {
            display: grid;
            grid-template-rows: 0.9fr 5fr 7fr;
            height: 100vh;
        }

input[b-k8ren922i9] {
    height: 100%;
    width: 100%;
    font-size: 2vw;
    background-color: white;
    float: left;
    word-wrap: break-word;
    overflow-y: auto;
}

*[b-k8ren922i9] {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.box1[b-k8ren922i9] {
}

.box2[b-k8ren922i9] {
    height:100%;
    overflow-y:auto;
    border: 2px solid black;

}

.box3[b-k8ren922i9] {
    overflow-y: auto;
    height:100%;
}

.CalculateField[b-k8ren922i9] {
    float: left;
}

.history[b-k8ren922i9] {
    color: white;
    font-size: 100%;
    width: 100%;
    border-radius:2%;
    min-height: 10%;
    float: left;
    background-color: #353535;
    opacity:0.5;
    word-wrap:break-word;
    margin-bottom:0.5vh;
}

.inputclass[b-k8ren922i9] {
    height: 10%;
    width: 100%;
    float:left;

}

label[b-k8ren922i9] {
text-align:center;
margin:auto;
color:white;
font-size:100%;
}

button[b-k8ren922i9] {
    height: 5%;
    width: 50%;
    color: white;
    background-color: #606060;
    border: 1px solid black;
    float: right;
    margin-top:2%;
}




