*[b-bu1xghfte3] {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    list-style: none;
}

body[b-bu1xghfte3] {
    background-color: #111111c3;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #cfcfcf;
    overflow: hidden;
}

h1[b-bu1xghfte3] {
    padding: 6vh 6vh 6vh 6vh;
}

.registration-block[b-bu1xghfte3] {
    margin: auto;
    margin-top: 2%;
    height: 80vh;
    width: 30vw;
    background-color: #202020;
    opacity: 0.8;
}

label[b-bu1xghfte3] {
    text-align: center;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

textarea[b-bu1xghfte3] {
    border-radius: 1.5vh;
    margin-left: 4vw;
    margin-bottom: 6vh;
    height: 5vh;
    width: 23vw;
}

.button[b-bu1xghfte3] {
    margin-left: 4vw;
    margin-bottom: 1vh;
    height: 5vh;
    width: 23vw;
    font-size: 4vh;
    color: #cfcfcf;
    background-color: #101010;
}

button:hover[b-bu1xghfte3] {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.3s;
}
