<div class="registration-block">
    <h1 align="center">Регистрация</h1>
    <label>Имя Пользователя</label>
    <textarea name="" id=""></textarea>
    <label>Пароль</label>
    <textarea name="" id=""></textarea>
    <label>Повторите пароль</label>
    <textarea name="" id="" style="margin-bottom: 3vh;"></textarea>
    <button class="button">Зарегистрироваться</button>
</div>


